/* |- COLOUR THEME -| */
/*
LIGHT BLUE    #77C9D4
LIGHT GREEN   #57BC90
DARK GREEN    #015249
LIGHT GREY    #A5A5AF
WHITE         #FFFFFF
*/

/* |- FONT IMPORTS -| */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


/* |- GLOBAL -| */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body, html {
    height: 100%;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  font-weight: 400;
  color: #FFFFFF;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("assets/mobile/mobile-backgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navClearfix::after {
  content: "";
  display: table;
  clear: both;
}

.contentWrapper {
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 35px;
}


/* |- NAVIGATION -| */
nav {
  width: 109px;
  height: 109px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 182px;
}


/* |- MAIN INFORMATION -| */
.mainInfo {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1.header {
  padding-bottom: 10px;
}

a.contactLinks {
  padding-left: 8px;
  padding-right: 8px;
}

.contactLinks img:hover {
  opacity: 0.5;
}


/* |- SEE MORE -| */
.seeMore {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 191px;
  padding-bottom: 50px;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 15px;
}

.seeMore img {
  padding-top: 8px;
}

.seeMore a:hover {
  opacity: 0.5;
}
