/* |- COLOUR THEME -| */
/*
LIGHT BLUE    #77C9D4
LIGHT GREEN   #57BC90
DARK GREEN    #015249
LIGHT GREY    #A5A5AF
WHITE         #FFFFFF
*/

/* |- FONT IMPORTS -| */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


/* |- GLOBAL -| */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body, html {
    height: 100%;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  font-weight: 400;
  color: #FFFFFF;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("assets/desktop/desktop-backgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navClearfix::after {
  content: "";
  display: table;
  clear: both;
}

.contentWrapper {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 80px;
}


/* |- NAVIGATION -| */
nav {
  width: 204px;
  height: 204px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 125px;
}


/* |- MAIN INFORMATION -| */
.mainInfo {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1.header {
  padding-bottom: 35px;
}

a.contactLinks {
  padding-left: 15px;
  padding-right: 15px;
}

.contactLinks img:hover {
  opacity: 0.5;
}


/* |- SEE MORE -| */
.seeMore {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 145px;
  margin-bottom: 50px;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 20px;
}

.seeMore img {
  padding-top: 8px;
}

.seeMore a:hover {
  opacity: 0.5;
}


/* |- RESPONSIVE -| */
@media only screen and (max-width: 1700px) {
  h1 {
    font-size: 65px;
  }

  .seeMore {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1120px) {
  h1 {
    font-size: 55px;
  }

  .seeMore {
    margin-bottom: 0;
  }

  .contactLinks img {
    width: 55px;
    height: 55px;
  }
}

@media only screen and (max-width: 945px) {
  h1 {
    font-size: 45px;
  }

  .seeMore {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 775px) {
  .seeMore {
    padding-top: 115px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 615px) {
  .contentWrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 530px) {
  h1 {
    font-size: 40px;
  }

  .seeMore {
    padding-top: 85px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 415px) {
  h1 {
    font-size: 35px;
  }

  .seeMore {
    margin-bottom: 0;
  }

  nav {
    padding-bottom: 85px;
  }

  .contactLinks img {
    width: 45px;
    height: 45px;
  }

  a.contactLinks {
    padding-left: 5px;
    padding-right: 5px;
  }
}
